<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" th:href="@{/css/cardStyles.css}"/> -->
    <link rel="stylesheet" href="../../static/css/cardStyles.css">    
    <title>Card Page</title>
</head>
<body>
    <header>
        <h1 id="dashboard">Dashboard</h1>
        <ul id="actionsList">
            <li><a th:href="@{/}">Logout</a></li>
        </ul>
    </header>

    <main>
        <h2 id="welcomeUserLabel" th:text="'Welcome ' + ${firstname}"></h2>
        <h3 id="balanceLabel" th:text="'Your Balance: ' + ${balance}"></h3> <br><br>

        <form class="atmActionForm" method="post" action="#" th:action="@{/validateNewAtmAction}">
            <label for="action">Please select your action:</label><br>
            <select name="action" id="atmAction">
                <option value="Deposit">Deposit</option>
                <option value="Withdraw">Withdraw</option>
            </select><br>

            <label for="amount">Enter an amount:</label><br>
            <input type="text" name="amount" required><br>

            <input type="submit" value="Execute">
        </form>
    </main>

    <footer>
        <h5 id="author">v1.0 by Thanos Moschou, 2023 &copy;</h5>
    </footer>
</body>
</html>