<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" th:href="@{/css/loginStyles.css}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <h2 class="pageTitle">mosbank</h2>
        </header>

        <div class="loginArea">
            <p id="loginPromptLabel">Let's login!</p>
            <form class="loginForm" method="post" action="#" th:action="@{/validateLogin}"><br>
                <label id="usernameLabel" for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label id="passwordLabel" for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <a id="signupLink" href="/signup" target="_self">Don't have an account? Sign Up!</a><br>
                <input id="submitButton" type="submit" value="Login">
            </form>
        </div>

        <footer>
            <h5 id="author">v1.0 by Thanos Moschou, 2023 &copy;</h5>
        </footer>
    </body>
</html>