<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <header>
        <h1 id="dashboard">Dashboard</h1>
        <ul>
            <li><a th:href="@{'/transaction/' + ${user_id}}">New Transaction</a></li>
            <li><a th:href="@{'/account/' + ${user_id}}">My Account</a></li>
            <li><a th:href="@{/}">Logout</a></li>
        </ul>
    </header>

    <main>
        <h2 id="welcomeUserLabel" th:text="'Welcome ' + ${firstname}"></h2>
        <h3 id="balanceLabel" th:text="'Your Balance: ' + ${balance}"></h3>
        <h4 id="transactionsLabel">Let's see your transactions!</h4>

        <table>
            <tr>
                <td>Transaction Id</td>
                <td>Date</td>
                <td>Amount</td>
            </tr>
            <tr th:each="transaction : ${usertransactions}">
                <td th:text="${transaction.trans_id}"></td>
                <td th:text="${transaction.trans_date}"></td>
                <td th:text="${transaction.amount}"></td>
            </tr>
        </table>

    </main>

    <footer>
        <h5 id="author">v1.0 by Thanos Moschou, 2023 &copy;</h5>
    </footer>
</body>
</html>